#photo_uploading_area{
	position: relative;
	display: block;
	overflow:auto;
	width: 100%;
	min-height: 200px;
	background-color: lightblue;
	margin: 20px 0 auto;
	padding-top: 20px;
	display: none;
}
#preview{
	position: absolute;
	/*top:50%;*/
	height: 180px;
	width: 20%;
	/*margin-top: -90px;*/
	margin-left: 1%;
	background-image: url("../src/preview.jpg");
	background-repeat: no-repeat;
	background-size: contain;
}
#uploading_form{
 	position: absolute;
	width: 70%;
	margin-left: 25%;
	background-color: white;
}
#uploading_form form{
	display: block;
	position: absolute;
}
#uploading_form form ul{
	text-decoration: none;
	list-style: none;
}
#uploading_form form label,p{
	font-size: 20px;
}

#file_input{
	width: 80%;
	height: 30px;
	font-size: 20px;
	margin-bottom: 20px;
}
#uploadButton{
	width: 20%;
	height: 30px;
	font-size: 20px;
	margin-bottom: 20px;
	float: right;
}
#descriptionInput{
	width: 50%;
	height: 30px;
	font-size: 20px;
	margin-bottom: 20px; 
}

/*Album deletion*/
#album_deletion_form{
	position: relative;
	display: block;
	overflow:auto;
	width: 100%;
	min-height: 100px;
	background-color: lightblue;
	margin: 20px 0 auto;
	padding-top: 20px;
	display: none;
}

#albumsContainer{
	display: inline-block;
	width: 65%;
	/*margin-top: 50px;*/
	/*padding-top: 20px;*/
	margin-bottom: 20px;
	background-color: white;
}
.album{
	display: inline-block;
	/*position: relative;*/
	/*width: 400px;*/
	width: 38%;
	height: 40%;
	/*max-height: 300px;*/
	padding-left: 4%;
	padding-right: 4%;
	margin: 10px 10px 10px 0px;
	text-align: center;
}
/*.album:after {
	width: 100%;
    content: " ";
    display: inline-block;
    
}*/
.album p{
	font-size: 20px;
	font-weight: bold;
}
.imgContainer{
	width: 100%;
	height: 200px;
	/*how to set this value*/
}
.coverPhoto{
	width: 100%;
	height: 100%;
}

.form{
	width: 100%;
	height: 100%;
}
#submitButton{
	width: 100%;
	height: 100%;
	background-color: white;
	border: 0;
}
/*-----------right side bar----*/
#rightSideBar{
	float: right;
	width: 30%;
	height: 200px;
}
.switchButton{
	width: 100%;
	height: 50px;
	border: 0;
	background-color: lightgreen;
	margin-bottom: 10px;
}



#rightSideBar #buttonText{
	font-size: 20px;
}
#create_new_album{
	position: relative;
	width: 100%-10px;
	height: 250px;
	background-color: lightblue;
	padding-left: 10px;
}

#create_new_album label{
	font-size: 20px;
	font-weight: bold;
}
#create_new_album input {
	font-size: 20px;
	margin-right: 10px;
	width: 50%;
}
#create_new_album textarea {
	font-size: 20px;
	margin-right: 10px;
	width: 80%;
}
#create_new_album #submit{
	border: solid 3px blue;
	position: relative;
	width: 50%;
	height: 40px;
	background-color: white;
}


/*------user info--------*/
#userInfo{
	position: relative;
	width: 100%;
	height: 200px;
	background-color: yellow;
	margin-top: 20px;
}