#searchForm{
	border-bottom: 2px solid grey;
}
#selectAlbum{
	margin: 10px 0;
}

span{ 
	font-size: 20px;
}
#albumNameSelector{
	height: 25px;
	font-size: 20px;
	margin-left: 5px;
}
#searchButton{
	width: 140px;
	height: 25px;
	font-size: 18px;
	margin: 10px 0;
}
#captionInput{
	height: 20px;
	font-size: 20px;
	margin-left: 5px;
}
#hiddenSpan{
	display: none;
}

#thumbnailArea{
	width: 70%;
	float: left;
	min-height: 400px;
	background-color: lightyellow;
	margin-top: 10px;
	margin-bottom: 50px;
	margin-left: 10px;
}
.thumbnailContainer{
	display: inline-block;
	width: 150px;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 30px;
	vertical-align: middle;
	width: 180px;
	height: 150px;
	margin-bottom: 10px;
}
.thumbNailImg{
	max-width: 100%;
	max-height: 100%;
}